.todoItemWrapper {
  display: flex;
  flex-flow: row nowrap;
}

.label {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  font-size: 1.2rem;
}
.label .checkboxInput {
  width: 1rem;
  height: 1rem;
  margin: 0.4rem
}
.label span {
  flex-grow: 1;
}
.label .textInput {
  width: 90%;
  height: 1.6rem;
}