.header {
  height: 5rem;
  border-bottom: 2px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  background-color: white;
}
.navigation ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}